.loginStyle {
    text-align: center;
    padding-top: 5%;
}

.buttonStyle {
  padding-top: 30px;
}

.containerStyle {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formStyle {
  width: '100%';
  margin-top: 5%;
}

.submitStyle {
  margin-top: 5%;
  margin-bottom: 5%;
}



